@import "settings";

@import '~@fontsource/roboto/300.css';
@import '~@fontsource/roboto/400.css';
@import '~@fontsource/roboto/500.css';
@import '~@fontsource/roboto/700.css';

html,
body {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

html body {
  color: $textPrimary;
  background-color: $backgroundDefault;
}

img {
  max-width: 100%;
}

.view-enter {
  left: 100vw;
  z-index: 2;

  &.view-enter-active {
    left: 0;
    transition: left #{$viewAnimationSpeed}ms;
  }
}

.view-exit {
  z-index: 1;
  right: 0;

  &.view-exit-active {
    right: 20vw;
    transition: right #{$viewAnimationSpeed}ms;
  }
}