$primary: #ffc300;
$secondary: #dc562e;

$backgroundDefault: #000814;
$backgroundPaper: #001d3d;

$textPrimary: #fff;

$headerHeight: 48px;
$footerHeight: 56px;
$safeBottomArea: env(safe-area-inset-bottom);

$viewAnimationSpeed: 200;

:export {
  primary: $primary;
  secondary: $secondary;

  backgroundDefault: $backgroundDefault;
  backgroundPaper: $backgroundPaper;

  textPrimary: $textPrimary;

  headerHeight: $headerHeight;
  footerHeight: $footerHeight;
  safeBottomArea: $safeBottomArea;

  viewAnimationSpeed: $viewAnimationSpeed;
}