@import "../../styles/settings";

.layout :global {
  .main {
    height: calc(100vh - $headerHeight - $footerHeight);
    margin-top: $headerHeight;
    margin-bottom: $footerHeight;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
  }
}